

<nav class="foot1">
    <ul>
   <li> <a href="{{path('app_main')}}">  <i class="bi bi-house"></i> <span>Accueil</span></a> </li>
        <li> <a href="{{path('app_main')}}">  <i class="bi bi-person-badge"></i> <span>Medecins</span></a> </li>
        <li> <a href="{{path('app_main')}}">  <i class="bi bi-calendar-check"></i> <span>RDV</span></a> </li>
        <li> <a href="{{path('app_main')}}">  <i class="bi bi-prescription2"></i> <span>Pharma</span> </a> </li>
        <li> <a href="{{path('app_main')}}">  <i class="bi bi-person"></i> <span>Profil</span></a> </li>

    </ul>
</nav>
<nav class="foot2">
    <ul>
        <li><a></a>À propos</li>
        <li><a></a>Contact</li>
        <li><a></a>Mentions légales</li>
        <li><a></a> © 2026 SenCliniC</li>
    </ul>
</nav>










