<nav class="navHeader">
    <a href=""> <img src="{{asset('image/SenCliniC.png')}}" alt="image logo" width="60" height="auto"></a>
  <ul>
      <li class="active"><a href="{{path('app_main')}}">Accueil</a></li>
      <li class="active"><a href="{{path('app_main')}}">Medecins</a></li>
      <li class="active"><a href="{{path('app_main')}}">RDV</a></li>
      <li class="active"><a href="{{path('app_main')}}">Pharma</a></li>
      <li class="active"><a href="{{path('app_main')}}">Profil</a></li>


  </ul>
    <div class="insconex">
        <a href="#">Connexion</a>
        <a href="#">Inscription</a>

    </div>
    <button class="navBtn">
        <i class="bi bi-list"></i>
    </button>



</nav>
