{% extends 'base.html.twig' %}

{% block title %}Pharmacies index{% endblock %}

{% block body %}
    <h1>Pharmacies index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>HoraireGarde</th>
                <th>GardeAujourdhui</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pharmacy in pharmacies %}
            <tr>
                <td>{{ pharmacy.id }}</td>
                <td>{{ pharmacy.nom }}</td>
                <td>{{ pharmacy.adresse }}</td>
                <td>{{ pharmacy.telephone }}</td>
                <td>{{ pharmacy.latitude }}</td>
                <td>{{ pharmacy.longitude }}</td>
                <td>{{ pharmacy.horaireGarde ? pharmacy.horaireGarde|json_encode : '' }}</td>
                <td>{{ pharmacy.gardeAujourdhui ? 'Yes' : 'No' }}</td>
                <td>{{ pharmacy.createdAt ? pharmacy.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_pharmacies_show', {'id': pharmacy.id}) }}">show</a>
                    <a href="{{ path('app_pharmacies_edit', {'id': pharmacy.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_pharmacies_new') }}">Create new</a>
{% endblock %}
