{% extends 'base.html.twig' %}

{% block title %}Creneaux index{% endblock %}

{% block body %}
    <h1>Creneaux index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>HeureDebut</th>
                <th>HeureFin</th>
                <th>PlacesDisponibles</th>
                <th>Actif</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for creneaux in creneauxes %}
            <tr>
                <td>{{ creneaux.id }}</td>
                <td>{{ creneaux.date ? creneaux.date|date('Y-m-d') : '' }}</td>
                <td>{{ creneaux.heureDebut ? creneaux.heureDebut|date('H:i:s') : '' }}</td>
                <td>{{ creneaux.heureFin ? creneaux.heureFin|date('H:i:s') : '' }}</td>
                <td>{{ creneaux.placesDisponibles }}</td>
                <td>{{ creneaux.actif ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_creneaux_show', {'id': creneaux.id}) }}">show</a>
                    <a href="{{ path('app_creneaux_edit', {'id': creneaux.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_creneaux_new') }}">Create new</a>
{% endblock %}
